body {
   font-family: monospace; 
   background-color: black; 
   line-height: 0px;
}
.content {
   display:flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.content-bottom-text button {
   margin: 10px;
   padding: 5px;
   background-color: white;
   border: solid transparent 2px;
}
.content-bottom-text button:hover {
   border-bottom: solid white 2px;
}
.content * {
   text-align: center;
}

img {
   display:none;
   width: 40vw;
   max-height: 70vh;
}
#button1 {
   font-size: 50px; 
   position: relative; 
   background-color: black; 
}
#button2 {
   font-size: 50px; 
   position: relative; 
   background-color: black; 
}
#button3 {
   font-size: 50px; 
   position: relative; 
   background-color: black; 
}
#button4 {
   font-size: 50px; 
   position: relative; 
   background-color: black; 
}
img {
   margin:0;
   padding:0;
   border:0;
   }
   H1, button {
    animation: color-change 4s infinite;
  }
  
  @keyframes color-change {
  0% {
    color: blue;
  }
  10% {
    color: #8e44ad;
  }
  20% {
    color: #1abc9c;
  }
  30% {
    color: #d35400;
  }
  40% {
    color: blue;
  }
  50% {
    color: #34495e;
  }
  60% {
    color: blue;
  }
  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }
  90% {
    color: #2980b9;
  }
  100% {
    color: pink;
  }
}
label {
   color: white;
}